.span3
  %ul#gadgets-nav.nav.nav-tabs.nav-stacked
.span9
  #gadgets.row

-#%script#gadget-nav-item-tmpl{:type=>'text/template'}

%script#gadget-tmpl{:type=>'text/template'}
  .gadget
    %p.title.alert.alert-info

