/* Large desktop */
@media (min-width: 1200px) {
}

/* Default */
@media (min-width: 980px) {
  body{
    margin-top: 60px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}
#home{
  /*display:none;*/
}
.gadget{
  margin-bottom: 20px;
  list-style-type: none;
}
.gadget .title{
  margin-bottom: 0px;
  cursor: pointer;
}
.gadget .title .navbar-inner{
  -webkit-border-radius : 4px 4px 0 0;
  -moz-border-radius    : 4px 4px 0 0;
  border-radius         : 4px 4px 0 0;
}
.gadget .title .single{
  -webkit-border-radius : 4px;
  -moz-border-radius    : 4px;
  border-radius         : 4px;
}
.gadget .menu{
  padding: 0;
  margin-bottom: 0px;
  -webkit-border-radius : 0;
  -moz-border-radius    : 0;
  border-radius         : 0;
  min-height:0px;
  border-width: 0px 1px;
}
.gadget .menu a{
  cursor: pointer;
}
.gadget .menu.in{
  border-width: 1px;
}
.gadget .content{
  border-color: #D4D4D4;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  -webkit-border-radius : 0 0 4px 4px;
  -moz-border-radius    : 0 0 4px 4px;
  border-radius         : 0 0 4px 4px;
}
.gadget .content iframe{
  width: 100%;
}

/* common rewrite */
html{
  overflow-y: scroll;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #ffffff;
  background-color: #0088cc;
  cursor: default;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
