/* Large desktop */
@media (min-width: 1200px) {
}

/* Default */
@media (min-width: 980px) {
	body{
		margin-top: 60px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}
.gadget{
	margin-bottom: 20px;
	list-style-type: none;
}
.gadget .title{
	margin-bottom: 0px;
	-webkit-border-radius : 4px 4px 0 0;
	-moz-border-radius    : 4px 4px 0 0;
	border-radius         : 4px 4px 0 0;
}
.gadget iframe{
	width: 100%;
}
.gadget .proxy-iframe{
	//border:solid 1px;
	background-color: #AAA;
}

